<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My Account</title>    
    <link href="lib/semantic/dist/semantic.min.css" rel="stylesheet" />
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/sweetalert2/dist/sweetalert2.css" />
    <!-- endbower -->
    <!-- inject:css -->
    
    <link rel="stylesheet" href="css/site.css">
    
    <!-- endinject -->
</head>
<body ng-app="app">
    <div class="ui secondary pointing menu">
        <a href="#/" class="active item">
            Home
        </a>
        <a href="#/menu1" class="item">
            menu1
        </a>
        <div class="right menu">
            <a class="ui item">
                Logout
            </a>
        </div>
    </div>

    <ng-view></ng-view>

    <!-- bower:js -->    
    <!-- endbower -->
    <!-- inject:js -->        
    <!-- endinject -->
</body>
</html>